
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align:center;
    background: url(./Image/TextreadBackground.jpg) no-repeat;
    background-size: cover;
    font-family: "Times New Roman", Times, serif;
    color:whitesmoke;
}
ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul li{
    float: left;
    width: 615px;
    height: 40px;
    background-color: midnightblue;
    opacity: .8;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    margin-right: 4px;
    
}

ul li a{
    text-decoration:none;
    color:whitesmoke;
    display: block;
}

ul li a:hover{
    background-color: skyblue;
}

ul li ul li{
    display: none;
}

ul li:hover ul li{
    display: block;
}

.textread{
    width: 50%;
    height:75%;
    background:#ffffff;
    color:#000000;
    border-width: 4px;
    border-style: outset;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-color:#9999ff;
    position: absolute;   
    top: 50%;   
    left: 50%; 
    transform: translate(-50%, -50%);
}

.textread h1{
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 45px;
  font-size: 30px;  
}

p{
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 30px;
    font-size: 20px;
}

